body{
    font-family: 'Open Sans Condensed', sans-serif;}

.colorfull-text{
    color:orange;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

h6{
    font-size: 25px;
}

p{
    font-size: 25px;
}



.btnglobal{
    border-radius: 7px;
    background-color: orangered;
    padding:4px 9px;
    color:white;
    font-style: bold;
    font-size:30px;
    text-decoration: none;
}

.HWidth img{
width:100%;
}

.HWidth{
    float:left;
    width:40%;
    margin-left: 5%;
    padding-left: 2%;
}

section {
    height: 550px;
}